html, body {
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-size:1.6rem;/* 16px*/
  line-height: 2;
}

.square_btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  margin :0.1em;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
}

.square_btn:hover {
  background: #668ad8;
  color: #FFF;
}

.random_btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  margin :0.1em;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px forestgreen;
  border-right: solid 4px forestgreen;
  color: forestgreen;
  background:lightgreen;
  transition: .4s;
}
.random_btn:hover {
  background: forestgreen;
  color: #FFF;
}


#question {
  word-wrap: break-word;
}

.selected_area {
  background-color: cornsilk;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
}

.selected_area p {
  word-wrap: break-word;
  border-style: ridge;
  padding: 3px;
}
.selected_area a {
  float: left;
}

.answer_area {
  visibility: hidden;
  word-wrap: break-word;
}

.commentary_area {
  background-color: cornsilk;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  word-wrap: break-word;
}

h3 {
  padding: 0.25em 0.5em;
  /*上下 左右の余白*/
  color: #494949;
  /*文字色*/
  background: transparent;
  /*左線*/
  border-left: solid 5px #7db4e6;
}

.footer {
  visibility: hidden;
}

/* クリアフィックス */
.cf:before,
.cf:after{
    content: "";
    display: table;
}
.cf:after{ clear: both; }
.cf{ zoom: 1; }

/* スマホ対応 */
@media screen and (max-width: 640px) {/* 640px以下*/
  body{
    font-size: 2rem;
    line-height: 2;
  }
  h3 {
    font-size: 2.4rem;
  }
  .square_btn, .random_btn {
    font-size: 2rem;
  }
  .main {
    padding-bottom: 10rem;
  }
  .footer {
    float: left;
    visibility: visible;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: black;
  }
}

/*ローディング画面　
https://projects.lukehaas.me/css-loaders/
*/
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #4da6ff, 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.5), -1.8em -1.8em 0 0em rgba(77,166,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.7), 1.8em -1.8em 0 0em #4da6ff, 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.5), 1.8em -1.8em 0 0em rgba(77,166,255, 0.7), 2.5em 0em 0 0em #4da6ff, 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.5), 2.5em 0em 0 0em rgba(77,166,255, 0.7), 1.75em 1.75em 0 0em #4da6ff, 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.5), 1.75em 1.75em 0 0em rgba(77,166,255, 0.7), 0em 2.5em 0 0em #4da6ff, -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.5), 0em 2.5em 0 0em rgba(77,166,255, 0.7), -1.8em 1.8em 0 0em #4da6ff, -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.5), -1.8em 1.8em 0 0em rgba(77,166,255, 0.7), -2.6em 0em 0 0em #4da6ff, -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.5), -2.6em 0em 0 0em rgba(77,166,255, 0.7), -1.8em -1.8em 0 0em #4da6ff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #4da6ff, 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.5), -1.8em -1.8em 0 0em rgba(77,166,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.7), 1.8em -1.8em 0 0em #4da6ff, 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.5), 1.8em -1.8em 0 0em rgba(77,166,255, 0.7), 2.5em 0em 0 0em #4da6ff, 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.5), 2.5em 0em 0 0em rgba(77,166,255, 0.7), 1.75em 1.75em 0 0em #4da6ff, 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.5), 1.75em 1.75em 0 0em rgba(77,166,255, 0.7), 0em 2.5em 0 0em #4da6ff, -1.8em 1.8em 0 0em rgba(77,166,255, 0.2), -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.5), 0em 2.5em 0 0em rgba(77,166,255, 0.7), -1.8em 1.8em 0 0em #4da6ff, -2.6em 0em 0 0em rgba(77,166,255, 0.2), -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.5), -1.8em 1.8em 0 0em rgba(77,166,255, 0.7), -2.6em 0em 0 0em #4da6ff, -1.8em -1.8em 0 0em rgba(77,166,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77,166,255, 0.2), 1.8em -1.8em 0 0em rgba(77,166,255, 0.2), 2.5em 0em 0 0em rgba(77,166,255, 0.2), 1.75em 1.75em 0 0em rgba(77,166,255, 0.2), 0em 2.5em 0 0em rgba(77,166,255, 0.2), -1.8em 1.8em 0 0em rgba(77,166,255, 0.5), -2.6em 0em 0 0em rgba(77,166,255, 0.7), -1.8em -1.8em 0 0em #4da6ff;
  }
}
